// Variables
$global-font-size: 18px;
$global-font-size-mobile: 16px;
$title-font-size: 1.875rem;

$content-title-font-size: 1.275rem;
$layout-max-width: 48rem;
$nav-font-size: 1.025rem;

$primary-color: #ffffff;
$subscript-color: #cccccc;
$background-color: #101010;
$blockquote-background-color: #222222;

$border-color: #c6daff;
$link-color: #ffd700;
$tags-color: #7fffd4;
$post-title-color: #00eff0;
$post-link-color: $link-color;
$active-link-color: #79a8ff;

$toc-border: #f78fe7;
$toc-background: linear-gradient(40deg, #212121 78%, #232323 85%, #202020 100%);

$code-background: $blockquote-background-color;
$code-color: #9aff9a;

$horizontal-layout-padding: 1.3125rem;
$vertical-layout-padding: 2.625rem;

