<div class="slim-description">
    <p>
      Hello! Warm Welcome to you for visiting !
      <br>
      I will post blogs or some useful snippets on hacky things that are sane !
      <br>

      More than me, It will be useful stuff which is mostly unbiased.
<p>
      I hope you learn something out here, if not, these blogs would be inert.
        <!-- <a -->
        <!--     href="https://dev.to/mrprofessor" -->
        <!--     target="_blank" -->
        <!--     rel="noreferrer" -->
        <!-- > -->
        <!--     dev community</a>. -->
      You can reach out to me on
        <a
            target="_blank"
            rel="noreferrer"
            href="https://github.com/idlip"
        >
          github</a>
	<!-- and -->
        <!-- <a -->
        <!--     target="_blank" -->
        <!--     rel="noreferrer" -->
        <!--     href="https://tildevarsh.in" -->
        <!-- > -->
        <!--     tildevarsh</a> -->
	.
    </p>
<br>
</div>
