@font-face{
    font-family: 'Victor';
    src: url('../font/victor.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Happy';
    src: url('../font/happy.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Impress';
    src: url('../font/impress.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Comic';
    src: url('../font/comic.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Stone';
    src: url('../font/stone.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Gandhi';
    src: url('../font/gandhi.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Fairy';
    src: url('../font/fairy.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Astro';
    src: url('../font/astro.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Symbols';
    src: url('../font/symbols.woff2') format('woff2');
    font-weight:900;
    font-style:normal;
}

@font-face {
    font-family: 'Awesome';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../font/fa-so.woff2") format("woff2"), url("../font/fa-rg.woff2") format("woff2"), url("../font/fa-co.woff2") format("woff2"), url("../font/fa-br.woff2") format("woff2");
}
