* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Gandhi", "Symbols", "Awesome";
}

code {
    font-family: "Victor", "Symbols", "Awesome";
    padding: 7px;
}

tags {
    font-family: "Fairy", "Symbols", "Awesome";
}

h1, h2, h3, h4 {
    font-family: 'Comic', "Symbols", "Awesome";
    line-height: 3rem;    
}

h1:before, h1:after {
    content: " ❉ ";
    color: #ffd700;
}

article h1 {
    font-weight: 600;
    color: #ffdab9;
    text-align: center;
    font-size: 45px;
    font-family: 'Happy', "Symbols", "Awesome";
    letter-spacing: 3px;
    padding: 15px;
    line-height: 3rem;
}

article h2:before {
    content: "◉ ";
    color: #82b0ec;
}
article h2 {
    font-weight: 550;
    font-style: bold;
    color: #bf94fe;
    // background-color: #12121275;
    padding: 6px;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 3rem;
}


article h3:before{
    content: "◈ ";
    color: #6ae4b9;
}
article h3 {
    font-weight: 550;
    font-style: bold;
    color: #338fff;
    // background-color: #1d223540;
    padding: 25px;
    font-size: 34px;
    line-height: 3rem;    
}


.slim-description {
    font-family: "Impress", "Symbols", "Awesome";
    font-size: 1.4rem;
}

code[class*="language-"]{
    font-family: "Victor", "Symbols", "Awesome";
    font-style: normal;
    font-weight: 400;
    border-radius: 20px;
    color: #ffffff;
}


.blog-list{
    font-family: 'Comic', "Symbols", "Awesome";
    font-size: 1.2rem;
}

nav{
    font-family: 'Astro', 'Awesome';
    font-size: 2rem;
}
