html {
    font-size: $global-font-size-mobile;
}

.active-link {
    color: $active-link-color;

}

.disabled-link {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}




body {
    line-height: 1.8em;
    color: $primary-color;
    background: $background-color;
    background: linear-gradient(30deg, #121212 90%, #131313 87%, #151515 99%);
}

.post-title, .date-label {
    letter-spacing: 0.025rem;
}

p, sub, nav{
    letter-spacing: 0.05rem;
}

.title-wrapper, .title {
    letter-spacing: 0.075rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: $title-font-size;
}

.layout {
    .title-wrapper {
        @include flex-column;
        margin-bottom: 0.5rem;
    }
    .title {
        color: $primary-color;
        text-align: left;
        display: block;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Stone', "Awesome";
        letter-spacing: 3px;
        margin: 0;
    }
    max-width: $layout-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: $vertical-layout-padding $horizontal-layout-padding;
}

nav {
    font-size: $nav-font-size;
    text-align: center;
    ul {
        display: block;
        padding: 0;
        //margin: 0.5rem;
        li {
            display: inline;
            list-style-type: none;
            a {
                color: $primary-color;
                display: inline-block;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid $subscript-color;
            }
            a:hover {
                color: $link-color;
                border-bottom: 1px solid;
            }
        }
        li:not(:last-child) {
            padding: 0 1rem 0 0;
        }
    }
}

.slim-description {
    margin-bottom: calc(#{$global-font-size} * 2);
    color: $subscript-color;
    p {
        letter-spacing: normal;
    }

    a {
        color: $link-color
    }

    a:hover {
        // border-bottom: 1px solid;
        font-weight: 600;
    }

}


.blog-post-content {
    a {
        color: $link-color;
        text-decoration: none;
        border-bottom: 1px solid;
    }
    a:hover {
        border-bottom: none;
    }

    // Add some spaces before a sub-heading
    h2 {
        margin-top: 2rem;
    }
}

.blog-list {
    .list-item {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        color: $toc-border;
        font-family: 'Victor', "Awesome";
        padding: 0.5rem 0.5rem 0.5rem 0;
    }
    .post-title {
        a {
            text-decoration: none;
            color: $post-title-color;
            font-family: 'Comic', "Awesome";
            //font-weight: 600;
            border-bottom: none;
            //transition: border-bottom .3s;

        }
        a:hover {
            color: $post-link-color;
            background: $gradient-background;
            font-weight: 600;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .date-label {
        font-size: 80%;
        margin-right: 1rem;
    }
}

.content {
    .title {
        font-size: $content-title-font-size;
    }
}

.blog-post-content {
    a {
        color: $post-link-color;
        text-decoration: none;
        border-bottom: 1px solid;
    }
    a:hover {
        border-bottom: none;
    }

    img {
        width:100%;
        max-width: 100% ;
    }

    p {
        code {
            background: $code-background;
            color: $code-color;
        }
    }

}

.post-image {
    @include full-width-mobile
    img {
        width:100%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .img-description {
        color: $subscript-color;
    }
    text-align: center;
}

ul li {
    list-style-type: "❖ ";
}



// ul li:before {
//     color: $list-unorder-color;
//     float: left;
//     margin: 0 0 0 -1em;
//     width: 1em;
//     content: '❖ ';
// }


.tags {
    font-size: .9em;
    text-align: left;
    ul {
        display: block;
        padding: 0;
        //margin: 0.5rem;
        li {
            display: inline;
            list-style-type: none;
            text-align: center;
            a {
                padding: 0.5em;
                color: $tags-color;
                font-family: 'Comic';
                margin: 10px 2px 10px 0;
                line-height: 4em;
                background: 
                    linear-gradient(#161616 0 0) padding-box,
                    linear-gradient(90deg, #bcd2ee 28%, #fff0f5 85%, #ffe4e1 ) border-box;
                padding: 10px;
                border: 2px solid transparent;
                border-radius: 10px;

            }
            a:hover {
                background: $tags-color;
                background: $gradient-background;
                color: $background-color;
            }
        }
        li:not(:last-child) {
            padding: 0 0.1rem 0 0;
        }
    }
}

.highlight {
    @include full-width-mobile
    pre {
        line-height: 1.2rem;
        border: 1.2px solid #ddd;
        border-radius: 30px;
        overflow: auto;
        padding: $horizontal-layout-padding;
        margin: 0;
        code[class*=language-] {
            font-size: 0.9em;
        }

        .token.comment {
            font-style: italic;
        }
    }
}

// Add margin to the image after a code-block.
.highlight + .post-image {
    margin-top: 1rem;
}

// Style blockquotes
// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
// Worth looking at
// https://codepen.io/frxnz/pen/IvBCr
blockquote {
    background: $blockquote-background-color;
    border-left: 5px solid $primary-color;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before, blockquote:after {
    color: $primary-color;
    content: "“";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    content: "”";
}

blockquote p {
    display: inline;

}

time {
    font-size: 80%;
    margin-right: 1rem;
}


// TOC
.ox-hugo-toc {
    color: $link-color;
    background: $toc-background;
    border-radius: 20px;
    padding: 1rem;


    a {
        color: $subscript-color;
        text-decoration: none;
    }

    .heading {
        color: $subscript-color;
    }
}


@media (prefers-color-scheme: dark) {
    // Automatically switch to dark mode, a good thing??
}


@media only screen and (min-width: 600px) {

    html {
        font-size: $global-font-size;
    }

    .layout {
        .title-wrapper {
            @include flexify;
            flex-direction: row;
        }
        .title {
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }


    .blog-list {
        .list-item {
            @include flexify;
            flex-direction: unset;
            padding: 0;
            margin-bottom: 0.5rem;
        }
        .date-label {
            font-size: 100%;
            margin-right: 0;
        }
    }
    .project-board {
        grid-template-columns: 1fr 1fr;
    }

    .highlight {
        @include full-width-web;
    }

    .post-image {
        @include full-width-web;
    }

    .collection-card {
        flex: 0 1 48%;
        margin-bottom: 1rem;
    }


}
