{{ define "main" }}
    <main>
        {{ if (or (eq .Page.Name "Posts") (.Page.IsHome)) }}
            {{ partial "post-description.html" }}
        {{ else if (eq .Page.Name "Logs") }}
            {{ partial "log-description.html" }}
        {{ else if (eq .Page.Name "Keyboards") }}
            {{ partial "keyboards-description.html" }}
        {{ end }}

        <div class="blog-list">
            {{ if (eq .Page.Name "Keyboards") }}
                <div class="collection-board">
                    {{ range .Paginator.Pages }}
                        {{ .Render "keyboards-summary" }}
                    {{ end }}
                </div>
            {{ else }}
                {{ range .Paginator.Pages }}
                    {{ .Render "summary" }}
                {{ end }}
            {{ end }}
        </div>
	
        <!-- {{ partial "pagination.html" . }} -->
    </main>
    <!-- {{ partial "sidebar.html" . }} -->
{{ end }}
