@font-face{
    font-family: 'impress';
    src: url('../fonts/impress.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-ace';
    src: url('../fonts/code-ace.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-haki';
    src: url('../fonts/code-haki.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-op';
    src: url('../fonts/code-op.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
  font-family: 'code-op', 'Fira Code', monospace;
}
article :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'impress', 'code-ace', sans-serif;
}
h1:before, h1:after {
    content: " ⩮ ";
}
article h2:before {
    content: "◉ ";
}
article h3:before{
    content: "◈ ";
}
article h4:before, article h5:before{
    content: "✥ ";
}
