:root {
--heading-font:  'impress', sans-serif;
--body-font:     'code-ace', sans-serif;
--code-font:     'code-op', monospace;
--font-size:               18px;

--h1-color: #6ae4b9;
--h2-color: #bf94fe;
--h3-color: #6ae4b9;
--h4-color: #ffa9bf;
}

@font-face{
    font-family: 'impress';
    src: url('../fonts/impress.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-ace';
    src: url('../fonts/code-ace.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-op';
    src: url('../fonts/code-op.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
  font-family: var(--code-font);
}
p a {
    text-decoration: underline;
}
article :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font);
}

h1:before, h1:after {
    content: " ⩮ ";
    color: var(--h1-color);
}

article h1 {
    color: var(--h1-color) !important;
    text-align: center;
}

article h2:before {
    content: "◉ ";
}
article h2 {
    color: var(--h2-color);
}

article h3:before{
    content: "◈ ";
}
article h3 {
    color: var(--h3-color);
}

article h4:before{
    content: "✥ ";
}
article h4 {
    color: var(--h4-color);
}
