@font-face{
    font-family: 'impress';
    src: url('../fonts/impress.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-ace';
    src: url('../fonts/code-ace.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-haki';
    src: url('../fonts/code-haki.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'code-op';
    src: url('../fonts/code-op.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
