h1:before, h1:after {
    content: " ⩮ ";
    color: $h1-color;
}

article h1 {
    color: $h1-color;
    text-align: center;
}

article h2:before {
    content: "◉ ";
}
article h2 {
    color: $h2-color;
}

article h3:before{
    content: "◈ ";
    color: $h3-color;
}
article h3 {
    color: $h3-color;
}

article h4:before{
    content: "✥ ";
    color: $h4-color;
}
article h4 {
    color: $h4-color;
}
