$heading-font:  'impress', sans-serif;
$body-font:     'code-ace', sans-serif;
$code-font:     'code-op', monospace;

$font-size:               18px;
$heading-scaling-factor:  .25;

$heading-weight:    700;
$body-bold-weight:  700;

$body-line-height: 1.5rem;

$h1-color: #6ae4b9;
$h2-color: #bf94fe;
$h3-color: #6ae4b9;
$h4-color: #ffa9bf;

@import "heading.scss";
